body {
    background-color: #A9D7D1;
    text-align: center;
}

#description {
    text-align: center;
}
#title {
    text-align: center;
    
}

.survey-content {
    background-color: #FAFAFA;
    margin: 0 auto;
    width: 940px;
}
.right,
.left {
    display: inline-block;
    width: 30%;
}

.left {
    text-align: right;
    padding: 0px 10px 0px 0px;
}

.right {
    text-align: left;
    padding: 0px 0px 0px 10px;
}

.button {
    text-align: center;
}